<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Implementing Web Services APIs, Authentication and Authorization</title>

    <!-- CSS -->
    <link
      rel="stylesheet"
      ,
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      ,
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      ,
      crossorigin="anonymous"
    />

    <style>
      .navbar { width: 100%; position: fixed; top: 0; } body { /* Padding to
      prevent the content to go underneath the header */ padding-top: 75px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif; background-color: darkslategrey; } .flex-container { display:
      flex; flex-direction: row; } form { margin: 0 auto; } legend { text-align:
      center; font-size: 14pt; color: #ebebed; } input[type="email"],
      input[type="password"] { font-family: 'Courier New', Courier, monospace;
      width: 290px; padding: 0.75%; margin-bottom: 5px; font-size: 14pt; border:
      none; } /* Responsive layout */ @media (max-width: 800px) {
      .flex-container { flex-direction: column; } } footer { width: 100%;
      position: fixed; bottom: 0; font-size: small; color: #ebebed; text-align:
      center; }
    </style>

    <!-- Disable Right Clicking -->
    <script type="text/javascript">
      document.addEventListener('contextmenu', event => event.preventDefault());
    </script>
  </head>

  <div class="content">
    <!-- render child views here -->
    {{{body}}}
  </div>

  <script
    src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"
  ></script>

  <footer>
    Mwanika Stephen Crispin.
  </footer>

</html>